{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
  <div class="header-box">
    <div class="header-content">
      <h1 class="header-title">Tichete în Așteptare</h1>
      <nav class="breadcrumb">
        <a href="{% url 'home' %}" class="breadcrumb-item">Acasă</a>
        <span class="breadcrumb-item active">Tichete în Așteptare</span>
        <img src="{% static 'images/breadcrumb.png' %}" alt="Breadcrumb Icon" class="breadcrumb-icon">
      </nav>
    </div>
  </div>

  <div class="content-box">
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteModalLabel">Confirmare Ștergere</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Închide"></button>
          </div>
          <div class="modal-body">Ești sigur că vrei să ștergi acest tichet?</div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Anulează</button>
            <form method="post" id="deleteForm">
              {% csrf_token %}
              <input type="hidden" name="ticket_id" id="deleteTicketId">
              <button type="submit" class="btn btn-danger">Șterge</button>
            </form>
          </div>
        </div>
      </div>
    </div>

<div class="modal fade" id="assignModal" tabindex="-1" aria-labelledby="assignModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="assignModalLabel">Asignare Tichet</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Închide"></button>
      </div>
      <div class="modal-body">
        <form method="post" id="assignForm" action="{% url 'assign-ticket' 0 %}">
          {% csrf_token %}
          <input type="hidden" name="ticket_id" id="assignTicketId">
          <div class="mb-3">
            <label for="engineerSelect" class="form-label">Selectează Inginer</label>
            <select class="form-select" id="engineerSelect" name="engineer_id">
              {% for engineer in engineers %}
              <option value="{{ engineer.id }}">{{ engineer.username }}</option>
              {% endfor %}
            </select>
          </div>
          <button type="submit" class="btn btn-primary">Asignează</button>
        </form>
      </div>
    </div>
  </div>
</div>

    <div class="row">
      <div class="col-md-12 mb-4" >
        <div class="card text-center bg-pending-tickets ticket-card">
          <div class="card-body ticket-card-body">
            <p class="card-number ticket-card-number mb-0">{{ pending_tickets }}</p>
            <h5 class="card-title ticket-card-title mt-0">Tichete în așteptare</h5>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 d-flex justify-content-end mb-3">
      <label for="searchInput" class="sr-only">Căutare</label>
      <input type="text" id="searchInput" onkeyup="searchTable()" placeholder="Caută după titlu.." class="form-control search-bar-small" />
    </div>

    <div class="table-responsive">
      <table class="table table-hover" id="ticketTable">
        <thead class="thead-light">
          <tr>
        <th scope="col"><i class="bi bi-hash"></i> ID Tichet</th>
        <th scope="col"><i class="bi bi-file-earmark-text"></i> Titlu</th>
        <th scope="col"><i class="bi bi-calendar"></i> Creat la</th>
        <th scope="col"><i class="bi bi-person"></i> Creat de</th>
        <th scope="col"><i class="bi bi-exclamation-triangle"></i> Prioritate</th>
        <th scope="col"><i class="bi bi-tags"></i> Categorie</th>
        <th scope="col"><i class="bi bi-clipboard-data"></i> Stare</th>
        <th scope="col"><i class="bi bi-gear"></i> Acțiune</th>
          </tr>
        </thead>
        <tbody>
          {% for ticket in tickets %}
          <tr class="ticket-row" data-status="{{ ticket.ticket_status|lower }}">
            <td><small>{{ ticket.id }}</small></td>
            <td><small>{{ ticket.title }}</small></td>
            <td><small>{{ ticket.date_created }}</small></td>
            <td>
              {% if ticket.created_by %}
              <img src="{{ ticket.created_by.profile_image.url }}" alt="Profile Image of {{ ticket.created_by.username }}" class="profile-image">
              <span class="assigned-username">{{ ticket.created_by.username }}</span>
              {% else %}
              <small>Necunoscut</small>
              {% endif %}
            </td>
            <td>
              {% if ticket.priority == 'Very Low' %}
              <span class="badge badge-very-low">Foarte Scăzută</span>
              {% elif ticket.priority == 'Low' %}
              <span class="badge badge-low">Scăzută</span>
              {% elif ticket.priority == 'Medium' %}
              <span class="badge badge-medium">Medie</span>
              {% elif ticket.priority == 'High' %}
              <span class="badge badge-high">Ridicată</span>
              {% elif ticket.priority == 'Very High' %}
              <span class="badge badge-very-high">Foarte Ridicată</span>
              {% endif %}
            </td>
            <td><small>{{ ticket.category }}</small></td>
            <td>
              {% if ticket.ticket_status == 'Pending' %}
              <span class="badge badge-pending">În așteptare</span>
              {% endif %}
            </td>
            <td>
              <a href="{% url 'ticket-details' ticket.pk %}" class="btn btn-view btn-sm" title="Detalii">
                <i class="bi bi-eye-fill"></i>
              </a>
              {% if ticket.ticket_status == 'Closed' %}
                <span class="btn btn-edit btn-sm disabled" title="Editează">
                  <i class="bi bi-pencil-fill text-muted"></i>
                </span>
              {% else %}
                <a href="{% url 'update-ticket' ticket.pk %}" class="btn btn-edit btn-sm" title="Editează">
                  <i class="bi bi-pencil-fill"></i>
                </a>
              {% endif %}
              <a href="#" class="btn btn-delete btn-sm" data-bs-toggle="modal" data-bs-target="#deleteModal" data-ticket-id="{{ ticket.pk }}" title="Șterge">
                <i class="bi bi-trash-fill"></i>
              </a>
              <a href="#" class="btn btn-assign btn-sm" data-bs-toggle="modal" data-bs-target="#assignModal" data-ticket-id="{{ ticket.pk }}" title="Asignează">
                <i class="bi bi-person-check-fill"></i>
              </a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

      <div class="pagination-container">
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            {% if tickets.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ tickets.previous_page_number }}">‹</a></li>
            {% else %}
            <li class="page-item disabled"><span class="page-link">‹</span></li>
            {% endif %}

            {% for num in tickets.paginator.page_range %}
            {% if num > tickets.number|add:'-4' and num < tickets.number|add:'4' %}
            {% if tickets.number == num %}
            <li class="page-item active"><a class="page-link" href="#">{{ num }}</a></li>
            {% else %}
            <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
            {% endif %}
            {% endif %}
            {% endfor %}

            {% if tickets.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ tickets.next_page_number }}">›</a></li>
            {% else %}
            <li class="page-item disabled"><span class="page-link">›</span></li>
            {% endif %}
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
