body {
    margin: 0;
    color: rgb(42, 53, 71);
    font-weight: 400;
    line-height: 1.334rem;
    font-family: "Plus Jakarta Sans", sans-serif;
    background-color: rgb(255, 255, 255);
}

.full-width-chart {
    width: 100%;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.dashboard-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-bottom: 50px;
}

.card {
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    flex: 1 1 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card h2 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.card .chart-container {
    position: relative;
    flex-grow: 1; /* Allow it to grow and take available space */
    padding: 0; /* Remove padding */
    height: 100%; /* Ensure it takes full height */
}

.chart-container canvas {
    max-height: 100%;
}

.loader {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header-left {
    display: flex;
    flex-direction: column;
}

.percentage-change-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.header h2 {
    margin: 0;
}

.total-tichete {
    font-size: 16px;
    font-weight: lighter;
}

.chart-container {
    position: relative;
    height: 400px; /* Increased height */
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.error {
    color: red;
    text-align: center;
    padding: 50px;
}

/* ticketscreatedchart */
.styled-select {
    font-size: 16px;
    padding: 10px 30px 10px 10px; /* Added padding-right to make space for the arrow */
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg fill="%23000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 16px;
    transition: border-color 0.3s, box-shadow 0.3s, background-color 0.3s,
    color 0.3s;
}

.styled-select:focus {
    outline: none;
    border-color: #40a9ff;
    box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
}

.styled-select:hover {
    background-color: #f0f0f0;
}

.selector {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.selector label {
    margin-right: 10px;
    font-size: 16px;
}

/* jeg*/
.bigger-card {
    width: 100%;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.bigger-card .charts-container {
    display: flex;
    flex-direction: row; /* Align children in a row */
    gap: 20px; /* Add some space between the charts */
}

.custom-tooltip {
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.custom-tooltip p {
    margin: 0;
    font-size: 14px;
    color: #333;
}

.custom-tooltip .label {
    color: #49beff; /* Change this to your desired color */
}

.custom-tooltip .value {
    color: #5e87ff; /* Change this to your desired color */
}

/*oke*/

.number-card {
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 8px;
    flex: 1; /* Make cards grow to fit the container */
}

.number-card h3 {
    font-size: 18px;
}

.bg-total-tickets {
    border-left: 5px solid #5e87ff !important;
    background-color: #ecf2ff; /* Light blue */
    color: #5e87ff; /* Dark text color for better readability */
    transition: transform 0.5s ease-in-out; /* Smooth transition for both hover and return, with a slower effect */
}

.bg-pending-tickets {
    border-left: 5px solid #ffae1f !important;
    background-color: #fef5e5; /* Light yellow */
    color: #ffae1f; /* Dark text color for better readability */
    transition: transform 0.5s ease-in-out; /* Smooth transition for both hover and return, with a slower effect */
}

.bg-open-tickets {
    border-left: 5px solid #13deb9 !important;
    background-color: #e6fffa; /* Light teal */
    color: #13deb9; /* Dark text color for better readability */
    transition: transform 0.5s ease-in-out; /* Smooth transition for both hover and return, with a slower effect */
}

.bg-closed-tickets {
    border-left: 5px solid #fa896b !important;
    background-color: #fdede8; /* Light coral */
    color: #fa896b; /* Dark text color for better readability */
    transition: transform 0.5s ease-in-out; /* Smooth transition for both hover and return, with a slower effect */
}

/* Applying additional styling for the cards for uniformity */
/* Specific card styling for ticket stats */
.ticket-card {
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    border: none; /* Remove any default borders */
    cursor: pointer;
}

.ticket-card-body {
    padding: 20px; /* Consistent padding within the card */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px; /* Setting a fixed height for uniformity */
}

.ticket-card-title {
    margin-top: 5px; /* Slight space between number and title */
    font-size: 1rem; /* Suitable font size for titles */
}

.ticket-card-number {
    font-size: 2rem;
    font-weight: bold;
    margin: 10px 0;
}

/* */
.calendar-heatmap-container {
    width: 100%;
    max-width: 626px;
    padding: 20px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.color-github-1 {
    fill: #49BEFF !important;
}

.color-github-2 {
    fill: #0097D5 !important;
}

.color-github-3 {
    fill: #0071AC !important;
}

.react-calendar-heatmap .color-github-4 {
    fill: #004E85 !important;
}

/* */
.bg-customers {
    background-color: #e6f7ff; /* Light cyan */
    color: #33c3f0; /* Dark cyan for better readability */
    transition: transform 0.5s ease-in-out; /* Smooth transition for both hover and return, with a slower effect */
}

.bg-customers:hover {
    transform: scale(1.1); /* Increase size by 10% on hover */
}

.bg-engineers {
    background-color: #f4f9ec; /* Light green */
    color: #8cc63f; /* Dark green for better readability */
    transition: transform 0.5s ease-in-out; /* Smooth transition for both hover and return, with a slower effect */
}

.bg-engineers:hover {
    transform: scale(1.1); /* Increase size by 10% on hover */
}

.bg-admins {
    background-color: #f9e6f7; /* Light pink */
    color: #e83e8c; /* Dark pink for better readability */
    transition: transform 0.5s ease-in-out; /* Smooth transition for both hover and return, with a slower effect */
}

.bg-total {
    background-color: #e6e6ff; /* Light purple */
    color: #6666ff; /* Dark purple for better readability */
    transition: transform 0.5s ease-in-out;
}

.bg-total:hover {
    transform: scale(1.1); /* Increase size by 10% on hover */
}

.bg-admins:hover {
    transform: scale(1.1); /* Increase size by 10% on hover */
}

.custom-legend {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.custom-legend span {
    margin: 0 10px;
    font-size: 14px;
    cursor: pointer;
}

.custom-legend span:hover {
    text-decoration: underline;
}

.custom-legend i {
    margin-right: 5px;
}

.number-card {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    transition: transform 0.5s ease-in-out, background-color 0.5s ease-in-out;
}

.ticket-card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.number-card:hover {
    transform: translateY(-10px);
}

.number-card::before,
.number-card::after {
    content: "";
    position: absolute;
    border-radius: 10px;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    z-index: -1;
    background-size: 200% 200%;
    background-position: 0 0;
    transition: background-position 0.5s, opacity 0.3s;
    opacity: 0;
}

.number-card:hover::before,
.number-card:hover::after {
    opacity: 1;
    background-position: 100% 100%;
}

.bg-customers {
    border-left: 5px solid #33c3f0;
}

.bg-engineers {
    border-left: 5px solid #8cc63f;
}

.bg-admins {
    border-left: 5px solid #e83e8c;
}

.bg-total {
    border-left: 5px solid #6666ff;
}

.progress-bar-container {
    width: 100%;
    max-width: 626px;
    padding: 20px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.progress-bar-container h5 {
    padding-bottom: 10px;
}

.progress {
    height: 30px !important;
    font-size: 1rem !important;
    overflow: hidden;
    margin-bottom: 5px !important; /* Adding separation between progress bars */
    position: relative;
}

.progress-details {
    margin-top: 10px;
    font-size: 16px;
    color: #666;
}

.progress-bar {
    margin-bottom: 20px;
    height: 30px;
    border-radius: 15px;
    overflow: hidden;
    background-size: 200% 100%;
    background-image: linear-gradient(
            to right,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 0.5) 50%,
            rgba(255, 255, 255, 0) 100%
    );
    animation: progress-animation 1.4s ease-in-out infinite;
    transition: background-color 0.3s ease;
}

.progress-bar-completed .progress-bar {
    background-color: #fdede8; /* Blue for active */
    border-radius: 10px;
    border: 2px solid #fa896b; /* Adding the border */
    color: #fa896b;
}

.progress-bar-active .progress-bar {
    background-color: #e6fffa; /* Green for completed */
    border-radius: 10px;
    border: 2px solid #13deb9; /* Adding the border */
    color: #13deb9;
}

.progress-bar-pending .progress-bar {
    background-color: #fef5e5; /* Orange for pending */
    border-radius: 10px;
    border: 2px solid #ffae1f; /* Adding the border */
    color: #ffae1f;
}

@keyframes progress-animation {
    0% {
        background-position: 200% 0;
    }
    100% {
        background-position: -200% 0;
    }
}

.chartjs-tooltip {
    background: white !important;
    color: #333 !important;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.white-tooltip {
    background-color: white !important;
    color: black !important;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 3px;
}

.white-tooltip .tooltip-inner {
    background-color: white !important;
    color: black !important;

    padding: 5px;
    border-radius: 3px;
}

