.badge.active {
  background-color: #28a745; /* Bootstrap success color */
  color: white;
}

.badge.pending {
  background-color: #ffc107; /* Bootstrap warning color */
  color: black;
}

.badge.bg-danger {
  background-color: blue; /* Bootstrap danger color */
  color: white;
}

.logo {
  width: 100px; /* Adjust width as necessary */
  height: 50px; /* Maintain aspect ratio */
}
.profile-image {
  width: 34px;  /* or any size you want */
  height: 34px; /* should be the same as width to form a perfect circle */
  border-radius: 50%;
  object-fit: cover; /* This keeps the aspect ratio and covers the area */
}

body {
  font-family: 'Segoe UI', Arial, sans-serif;
  background-color: #f4f4f7;
  color: #333;
  margin: 0;
  padding: 20px;
}

h1 {
  color: #5a5a5a;
}

.table {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.05);
  border: none;
  overflow: hidden;
}

.table th, .table td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #f0f0f0;
}

.table th {
  background-color: #007bff;
  color: white;
  font-weight: normal;
}

.table tr:last-child td {
  border-bottom: none;
}

.profile-image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 5px;
}

/* Adjust button styles */
.btn {
  border: none;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.btn-info { background-color: #17a2b8; }
.btn-primary { background-color: #007bff; }
.btn-danger { background-color: #dc3545; }

.btn i {
  color: white;
}

/* Badge styles */
.badge {
  padding: 4px 7px;
  border-radius: 5px;
}

.bg-success { background-color: #28a745; }
.bg-warning { background-color: #ffc107; }
.bg-danger { background-color: #dc3545; }
