{% extends 'base.html' %}
{% load render_bundle from webpack_loader %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django React Integration</title>
    {% render_bundle 'main' 'css' %}
</head>
<body>
    <div class="container mt-5">
  <div class="header-box">
    <div class="header-content">
      <h1 class="header-title">Dashboard</h1>
      <nav class="breadcrumb">
        <a href="{% url 'home' %}" class="breadcrumb-item">Acasă</a>
        <span class="breadcrumb-item active">Dashboard</span>
        <img src="{% static 'images/breadcrumb.png' %}" alt="Breadcrumb Icon" class="breadcrumb-icon">
      </nav>
    </div>
  </div>
    <div id="root"></div>
    </div>
    {% render_bundle 'main' 'js' %}
</body>
</html>
{% endblock %}